.messages {
  grid-area: 6 / 1 / 7 / 11;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 667px) {
    grid-area: 4 / 1 / 5 / 7;
    height: 100px;
  }
}

.warning-message {
  display: flex;
  width: 100%;
  height: 100%;
  border: solid 2px rgb(236, 177, 67);
  color: rgb(236, 177, 67);
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  @media (max-width: 667px) {
    font-size: 0.8rem;
    width: 90%;
    height: 50%;
  }
}

.information-message {
  display: flex;
  width: 100%;
  height: 100%;
  border: solid 2px rgb(48, 48, 237);
  color: rgb(48, 48, 237);
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  @media (max-width: 667px) {
    font-size: 0.8rem;
    width: 90%;
    height: 50%;
  }
}

.success-message {
  display: flex;
  width: 100%;
  height: 100%;
  border: solid 2px rgb(103, 235, 103);
  color: rgb(103, 235, 103);
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  @media (max-width: 667px) {
    font-size: 0.8rem;
    width: 90%;
    height: 50%;
  }
}

.game-over-message {
  display: flex;
  width: 100%;
  height: 100%;
  border: solid 2px rgb(236, 70, 70);
  color: rgb(236, 70, 70);
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  @media (max-width: 667px) {
    font-size: 0.8rem;
    width: 90%;
    height: 50%;
  }
}

.default {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  @media (max-width: 667px) {
    font-size: 0.8rem;
    width: 90%;
    height: 50%;
  }
}